name: Build EXE from Python

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.9

    - name: Install PyInstaller
      run: pip install pyinstaller

    - name: Build EXE
      run: pyinstaller --onefile --name NUKESDUMPER Data.py

    - name: Upload EXE Artifact
      uses: actions/upload-artifact@v4
      with:
        name: compiled-exe
        path: dist/NUKESDUMPER.exe
